@import "../../../App.scss";

.item-wrap
{
    display: flex;
    flex-direction: column;

    text
    {
        font-size: 1.2vw;
        margin: 0.5vh 0 1vh;

        @media screen and (max-width: $mobile-w) 
        { 
            font-size: 2.5vw; 
            margin: 0.2vh 0 0.8vh;
        }
    }
}

.itemCover
{
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;

    @media screen and (max-width: $mobile-w) { margin-bottom: 1vh; }

    .image
    {
        width: 20vw;
        @media screen and (max-width: $mobile-w) { width: 25vw; }
    }
}

.itemDesc
{
    font-size: 0.8vw;
    color: $clr-gray;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;   

    @media screen and (max-width: $mobile-w) { font-size: 2vw; }
}