@import "../../App.scss";

.activity-wrap
{
    display: flex;
    flex-direction: column;
    align-items: center;

    .title
    {
        font-size: 3.3vw;
        font-weight: 600;
        color: $clr-blue;
        text-align: center;
        margin-top: 8vh;
    }
    
    .yellow-line
    {
        background-color: $clr-yellow;
        width: 40%;
        aspect-ratio: 70 / 1;
        margin: 5vh 0;
    }

    .subheader
    {
        font-style: italic;
        font-weight: 300;
        font-size: 2vw;
        margin-bottom: 3vh;
    }
}