@import "../../App.scss";

.header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 0;

    @media screen and (max-width: $mobile-w) {margin: 3vh 0;}

    h1
    {
        font-size: 3vw;
        font-weight: 600;
        color: $clr-blue;

        @media screen and (max-width: $mobile-w) {font-size: 6vw;}
    }

    .yellow-line
    {
        background-color: $clr-yellow;
        width: 30%;
        aspect-ratio: 70 / 1;
        margin: 2vh 0;

        @media screen and (max-width: $mobile-w) 
        {
            width: 50%;
            margin: 1vh 0;
        }
    }

    h2
    {
        font-size: 2.3vw;
        font-weight: 300;
        font-style: italic;
        @media screen and (max-width: $mobile-w) {font-size: 4vw;}
    }
}

.members-wrap
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2vw;
    align-self: center;

    @media screen and (max-width: $mobile-w) 
    {
        display: flex;
        flex-direction: column;
    }
}