@import "../../../App.scss";

.about-wrap
{
    padding-top: 15vh;

    .title
    {
        font-size: 3vw;
        font-weight: bold;
        color: $clr-blue;
        padding-left: 13vw;

        @media screen and (min-width: $mobile-w) and (max-width: $pad-w) { font-size: 4vw; }
        @media screen and (max-width: $mobile-w) { font-size: 7vw; }
    }

    .yellow-line
    {
        background-color: $clr-yellow;
        aspect-ratio: 60/1;
        width: 18vw;
        margin-top: 1vh;
        margin-left: 13vw;
        margin-bottom: 5vh;

        @media screen and (min-width: $mobile-w) and (max-width: $pad-w) { width: 24vw; aspect-ratio: 50/1; }
        @media screen and (max-width: $mobile-w) { width: 40vw; aspect-ratio: 40/1; }
    }

    .cards
    {
        width: 100%;
        gap: 10px;

        display: flex;
        flex-direction: row;

        @media screen and (max-width: $mobile-w) { flex-direction: column; }

        list-style-type: none;
        justify-content: space-around;
        padding: 0 10vw;

        @mixin list
        {
            background-color: $clr-white;
            width: 25vw;
            aspect-ratio: 5/6;
            border-radius: 20px;
            border-style: solid;
            border-width: 4px;

            @media screen and (max-width: $mobile-w) { width: 100%; }
        }

        li:nth-child(1)
        {
            @include list;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .bold{font-weight: bold;}
            .blue{color: $clr-blue;}

            span{font-size: 1.3vw;}
            @media screen and (max-width: $mobile-w)
            {
                span{font-size: 5vw;}
            }

            .textbox
            {
                width: 70%;
                display: flex;
                flex-direction: column;
                margin-top: -4vh;
                @media screen and (max-width: $mobile-w) { margin-top: -2vh; }
            }

            .quotation
            {
                position: absolute;
                align-self: start;
                margin-left: 1.8vw;
                @media screen and (max-width: $mobile-w) { margin-left: 2.5vh; }
            }

            .dash-box
            {
                font-size: 1vw;
                font-weight: 600;
                margin-top: -3vh;
                border-style: dashed;
                border-width: 4px;
                border-radius: 40px;
                padding: 5.5vh 0.8vw;
                text-align: center;
                line-height: 30px;
                @media screen and (max-width: $mobile-w) 
                { 
                    width: 90%;
                    font-size: 3vw; 
                    padding: 2.5vh 1.2vw;
                }
            }
        }

        li:nth-child(2)
        {
            @include list;
            font-size: 20px;
            font-weight: bold;
            padding: 5vh 0 0 2vw;
            @media screen and (max-width: $mobile-w) { padding: 4vh }
            
            .visions
            {
                height: 45vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding-right: 3vw;

                :nth-child(-n + 3)
                {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: end;
                    margin: 10px 0;
                    
                    font-size: 20px;
                    font-weight: bold;

                    .black-line
                    {
                        background-color: $clr-darkgray;
                        height: 7vh;
                        width: 4px;
                        margin: 0 10px;
                    }

                    .desc
                    {
                        font-size: 1.2vw;
                        font-weight: 500;
                        @media screen and (max-width: $mobile-w) { font-size: 4vw; }
                    }
                }
            }
        }

        li:nth-child(3)
        {
            @include list;

            display: flex;
            flex-direction: column;
            align-items: start;
            padding-left: 2.2vw;

            .header
            {
                margin: 5vh 0 3vh;
                font-size: 1.3vw;
                font-weight: bold;
                @media screen and (max-width: $mobile-w) { font-size: 5vw; margin-left: 5vw;}
            }

            .grayboxes
            {
                list-style-type: none;
                margin-bottom: 3vh;

                .box
                {
                    border-style: solid;
                    border-radius: 10px;
                    border-width: 3px;
                    background-color: $clr-whitegray;
                    height: 50px;
                    width: 20vw;
                    
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 10px 0;
                    padding-left: 10px;
                    gap: 15px;

                    font-size: 1.3vw;
                    font-weight: 600;

                    @media screen and (max-width: $mobile-w) 
                    { 
                        width: 70vw;
                        font-size: 5vw;
                        margin-left: 2vw;
                    }
                }
            }

            .yellow-btn
            {
                background-color: $clr-yellow;
                border-radius: 20px;
                border-style: solid;
                border-width: 2px;
                padding: 10px 25px;
                align-self: end;

                color: $clr-black;
                font-size: 15px;
                font-weight: 500;
                text-decoration: none;
                margin: 0 2vw 5vh 0;

                @media screen and (max-width: $mobile-w)
                {
                    margin: 0 10px 10px 0;
                }
            }
        }
    }
}