@import "../../App.scss";

.searchBar-wrap
{
    background-color: $clr-shadowgray;
    width: 17vw;
    padding: 0.4vw;
    border-radius: 5px;
    margin: 2.5vh 0 4vh;

    form
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    input
    {
        background-color: $clr-white;
        width: 60%;
        outline: none;
        border: none;
        margin-left: 5px;
        border-radius: 3px;
    }

    span
    {
        font-size: 1.3vw;
        margin: 0 10px;
        cursor: pointer;
    }

    button
    {
        outline: none;
        border: none;
        padding: 0.5vh 0;
        border-radius: 5px;
        background-color: $clr-blue;
        color: $clr-white;
        width: 4vw;
        aspect-ratio: 3/1;
        text-align: center;
    }
}