@import "../../App.scss";

.graybar-header
{
    width: 100%;
    height: 80px;
    background-color: $clr-gray;
    opacity: 95%;

    position: sticky;
    top: 0;

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    z-index: 10;
    
    .logo
    {
        grid-row: 1;
        grid-column: 2 / 2;
        z-index: 12;
        height: inherit;
        width: auto;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5px 0;
        text-decoration: none;

        img
        {
            aspect-ratio: 1 / 1;
            width: auto;
            height: 90%;
        }

        span
        {
            margin-left: 10px;
            text-wrap: nowrap;
            font-weight: bolder;
            font-size: 6vh;
            color: $clr-blue;
            text-shadow: 3px 3px 2px $clr-whitegray;

            @media screen and (max-width: $pad-w) //both for pad and mobile
            {
                font-size: 3vh;
            }
        }
    }

    .whitebar
    {
        grid-row: 1;
        grid-column: 2 / 20;
        z-index: 11;
        width: auto;
        height: 60px;
        background-color: $clr-white;
        border-radius: 50px;
        margin-left: 10px;

        display: flex;
        align-self: center;
        justify-content: end;

        .tabs
        {
            height: inherit;
            width: 70%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding-right: 10%;

            li
            {
                display: flex;
                align-items: center;
                width: fit-content;
                height: 100%;
                padding: 0 10px;

                &:hover { background-color: $clr-whitegray; text-shadow: 2px 2px 4px $clr-white; }

                a, Link
                {
                    color: $clr-blue;
                    font-size: 2.8vh;
                    
                    text-wrap: nowrap;
                    text-decoration: none;
                    margin: 0 15px;
                }
            }
        }

        .dropdown
        {
            display: flex;
            align-items: center;
            padding: 20px;

            .drop-btn
            {
                background-color: $clr-white;
                border: none;
                cursor: pointer;
            }
        }
    }
}


.drop-tabs
{
    background-color: $clr-white;
    border-style: none;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3vh;

    a
    {
        display: flex;
        align-items: center;
        width: 50vw;
        padding: 10px;
        text-decoration: none;
        li
        {
            font-size: 5vw;
            color: $clr-gray;
        }
        &:hover{background-color: $clr-blue;}
    }
}