@import "../../../App.scss";

.struct-wrap
{
    margin-bottom: 10vh;

    .title
    {
        font-size: 3vw;
        font-weight: bold;
        color: $clr-blue;
        padding-left: 10vw;
        margin-bottom: 10px;

        @media screen and (max-width: $mobile-w) { font-size: 5vw; }
    }

    .yellow-line
    {
        background-color: $clr-yellow;
        aspect-ratio: 70/1;
        width: 38vw;
        margin-left: 10vw;
        margin-bottom: 7vh;
        @media screen and (max-width: $mobile-w) { width: 60vw; }
    }

    .struct
    {

        .struct-tree
        {
            position: relative;
            width: 40vw;
            margin-left: 10vw;
            z-index: 1;
            
            @media screen and (max-width: $mobile-w) { width: 80vw; }
        }

        .demographics
        {
            display: flex;
            flex-direction: row;
            margin-left: 13vw;
            z-index: 2;

            .red-line
            {
                background-color: $clr-red;
                height: 40vh;
                aspect-ratio: 1/40;
                margin-top: -3vh;

                @media screen and (max-width: $mobile-w) { height: 20vh; }
            }

            .textbox
            {
                font-size: 1.5vw;
                font-weight: 600;
                padding-left: 1.2vw;

                @media screen and (max-width: $mobile-w) 
                { 
                    font-size: 3vw;
                    padding-left: 2vw;
                }

                ul
                {
                    list-style-type: "⋅ ";
                    font-size: 1.2vw;
                    font-weight: normal;
                    line-height: 5vh;

                    margin: 1.5vh 0;
                    padding-left: 2vw;

                    @media screen and (max-width: $mobile-w) 
                    { 
                        font-size: 3vw;
                        padding-left: 2vw;
                        line-height: 2vh;
                    }
                }
            }

            .yellow-btn
            {
                @include yellow-btn;
                @media screen and (max-width: $mobile-w) { font-size: 2.5vw; }
            }
        }
    }

    .background-logo
    {
        position: absolute;
        opacity: 0.6;
        width: 60vw;
        margin-top: -10vh;
        margin-left: 52vw;

        @media screen and (max-width: $mobile-w) 
        { 
            height: 50vh;
            width: auto;
            aspect-ratio: 1/1;
            margin-top: 10vh;
        }

        overflow: hidden;
    }
}