@import "../../../App.scss";

.title-wrap
{
    display: flex;
    flex-direction: column;
    padding: 20vh 0 0 10vw;
    margin-bottom: 15vh;
    @media screen and (max-width: $mobile-w) { margin-bottom: 33vh; }
    
    .title
    {
        font-size: 6vw;
        font-weight: bolder;
        background-color: $clr-blackblue;
        color: transparent;
        text-shadow: 0px 4px 4px rgba($clr-shadowgray, 0.7);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;

        @media screen and (max-width: $mobile-w) { font-size: 10vw; }
    }

    .yellow-line
    {
        background-color: $clr-yellow;
        width: 55%;
        aspect-ratio: 80 / 1;
        margin: 10px 0;

        @media screen and (min-width: $mobile-w) and (max-width: $pad-w) { width: 50%; }

        @media screen and (max-width: $mobile-w) { width: 85%; }
    }

    .subtitle
    {
        margin: 20px 0 40px;

        font-size: 2vw;
        font-weight: bold;
        text-wrap: nowrap;

        @media screen and (max-width: $mobile-w) { font-size: 3vw; }
    }

    .buttons
    {
        display: flex;
        flex-direction: row;
        gap: 30px;

        a
        {
            color: $clr-black;
            text-decoration: none;
            font-size: 1vw;
            font-weight: bold;
            padding: 10px 22px;
            border-radius: 10px;

            @media screen and (min-width: $mobile-w) and (max-width: $pad-w) { font-size: 1.5vw; }
            @media screen and (max-width: $mobile-w) { font-size: 3vw; }
        }

        .yellow-btn{background-color: $clr-yellow;}

        .white-btn{background-color: $clr-white;}
        
    }
}