@import "../../../App.scss";
 
.go-back
{
    text-decoration: none;
    font-size: 3vw;
    font-weight: 500;
    color: $clr-gray;
    padding: 5vh 0 0 10vw;

    @media screen and (max-width: $mobile-w) { font-size: 8vw; }
}

.item-wrap
{
    max-width: 700px;
    margin: 0vh auto 5vh;

    @media screen and (max-width: $mobile-w) { width: 100%; }

    header
    {
        text-align: center;

        h1
        {
            font-size: 1.8vw;
            margin: 1vh 0 0;

            @media screen and (max-width: $mobile-w) 
            { 
                font-size: 4.5vw; 
                margin: 1vh 0 0.5vh;
            }
        }

        .item-date
        {
            font-size: 1vw;
            color: $clr-gray;
            font-weight: 500;

            @media screen and (max-width: $mobile-w) { font-size: 3vw; }
        }
    }

    .sub-categories
    {
        display: flex;
        justify-content: center;
        font-size: 20px;
        gap: 1rem;
        margin: 2vh 0;

        @media screen and (max-width: $mobile-w) 
        { 
            flex-direction: row; 
            gap: 1rem; 
            font-size: small;
            margin: 1vh 0;
        }
    }

    img
    {
        width: 30vw;
        align-self: center;
        @media screen and (max-width: $mobile-w) { width: 80vw; }
    }

    .item-desc
    {
        margin-top: 2vh;
        white-space: pre-line;
        font-size: 1.2vw;

        @media screen and (max-width: $mobile-w) 
        { 
            font-size: 3vw;
            padding: 0 10vw;
            white-space: unset;
        }
    }
}