@import "../../App.scss";

.member-card
{
    background-color: $clr-white;
    height: fit-content;
    height: 30vh;
    width: 40vw;
    box-shadow: 5px 5px 5px $clr-gray;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3vh 0;

    @media screen and (max-width: $mobile-w)
    {
        height: 15vh;
        width: 80vw;
    }

    img
    {
        padding: 2vw;
        width: 15vw;

        @media screen and (max-width: $mobile-w) 
        {
            padding: 4vw;
            width: 30vw;
        }
    }

    .info-wrap
    {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: end;

        @media screen and (max-width: $mobile-w) { height: 60%; }

        .name, .position
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.5vw;
            font-weight: 600;
            margin: 2px 0;

            @media screen and (max-width: $mobile-w) { font-size: 3vw; }

            .black-line
            {
                background-color: $clr-black;
                height: 4.5vh;
                width: 0.1vw;
                margin: 0 1vw;

                @media screen and (max-width: $mobile-w) 
                { 
                    width: 0.2vw;
                    height: 2vh; 
                }
            }
        }

        .major
        {
            margin-top: 1vh;
            color: $clr-gray;
            font-size: 1.2vw;
            @media screen and (max-width: $mobile-w) { font-size: 2vw; }
        }
    }
}